#about{
    
    z-index: 1;
    padding: 0 1.5rem;
    margin-top: -100px;

    .about__left{
        @include flexColumn;
        justify-content: center;

        p{
            color: $color-tim;
            font-size: $fs-1;
            font-weight: $fw-1;
        }
        h1{
            font-size: $fs-3;
            font-weight: $fw-2;
        }
    }

    .about__right{
        img{
            width: 100%;
        }
    }

}