#find {
    background-image: url('./../../img/accent_bottom_wave_01.png');
    @include backGround;
    padding: $pd-2;
    .imgtop{
        img{
            width: 100%;
        }
    }
    .introduct{
        @include flexColumn;
        align-items: center;
        .intro{
            box-shadow: 0 30px 30px -10px #5a525278;
            padding: $pd-1;
            border-radius: 10px;
            h1{
                font-size: $fs-2;
                font-weight: $fw-2;
                margin-bottom: 50px;
            }
            .input1{
                display: flex;
                margin-bottom: $mg-2;
                .border-1{
                    border: $border;
                    border-radius: 35px;
                    margin-right: $mg-2;
                    padding: 5px 10px 5px 5px;
                }
            }
            i{
                margin-right: $mg-1;
                margin-left: $mg-1;
                color: $color-tim;
            }
            .input1-1 {
                width: 125px;
                outline: none;
                border: none;
            }
        
            .input2{
                @include inputall;
        
                #cars{
                    border: none;
                    outline: none;
                    width: 289px;
                    color: gray;
                }
            }
            
            .input3{
                @include inputall;
                display: flex;
                i{
                    line-height: 34px;
                }
                #input-3{
                    border: none;
                    outline: none;
                    width: 89%;
                }
            }

            .button4{
                // border: none;
                // // background-color: $color-tim;
                // color: white;
                border-radius: 60px;
                padding: 20px 50px;
                font-weight: $fw-1;
                margin: 40px 0 50px 0;
                line-height: 10px;
                border: none;
                box-shadow: 0 0 0 3em $color-tim inset;
                transition: 0.3s all;
                color: $color-white;
                outline: none;
                &:hover
                    {
                        box-shadow: 0 0 0 1px $color-tim inset;
                        color: $color-tim;
                        background-color: $color-white;
                    }    
            }
        }
    }
    
    
}
// @media only screen and (max-width: 768px) {
//     #find {
//         display: flex;
//         flex-direction: column;
//     }
//   }