#headerOur {
    @include backGround;
    background-image: url('./../../img/yellow_top_wave_01.png');
    height: 200px;
    transition: 1s all;
    .header{
        @include headerMenu(fixed,100%,transparent,100,100px);
        top: 0;
    }
    .header-hien{
        @include headerMenu(fixed,100%,#fff,100,72px);
        transform: translateY(-100px);
        transition: 0.8s all;
        padding-top: 29px;
    }
    
    .navbar-nav {
        .option {
            color: $color-black;
            font-weight: $fw-1;
            line-height: 40px;
            transition: 0.3s all;
            &:hover{
                color: $color-tim;
            }
            &::after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color-tim;
                display: block;
                margin: 0 auto;
                margin-top: $mg-2;
                transform: scale(0);
                transition: 0.3s all;
            }

            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
        }
        .icon{
            color: $color-black;
            line-height: 40px;
            i {
                transition: 0.2s all;
                margin-right: $mg-2;

                &:hover {
                    color: $color-tim;
                }
            }
        }
        .nav-item {
            padding: 0 15px;
            
            .active {
                &::after {
                    transform: scaleX(1);
                }
            }
            button {
                line-height: 10px;
                padding: 10px 18px;
                border: none;
                border-radius: 30px;
                box-shadow: 0 0 0 3em $color-tim inset;
                transition: 0.3s all;
                color: $color-white;

                &:hover {
                    box-shadow: 0 0 0 1px $color-tim inset;
                    color: $color-tim;
                    background-color: $color-white;
                }
                i {
                    margin-right: $mg-1;
                }
            }          
        }
    }
}
@media only screen and (max-width: 1091px) {
    #collapsibleNavbar {
      display: none !important;
    }
  }