#info{
    background-color: #dcd1f3;
    padding: 0 1.5rem;

    .box{
        box-shadow: 0;
        transition: 0.3s all;       
        &:hover{
            box-shadow: 0 30px 30px -10px rgba(128, 128, 128, 0.632);
        }

        img{
            width: 100%;
            border-top-left-radius: $bd-1;
            border-top-right-radius: $bd-1;
            transform: scale3d(1,1,1);
            transition: 0.3s all;
    
            &:hover{
                transform: scale3d(1.01,1.01,1.01);
                }
        }
        .info__content{
            @include flexColumn;
            text-align: center;
            background-color: $color-white;
            border-bottom-left-radius: $bd-1;
            border-bottom-right-radius: $bd-1;
            p:nth-child(1){
                color: $color-tim;
                margin: $mg-2 0;
                font-weight: $fw-1;
                font-size: $fs-4;
            }
    
            h3{
                font-weight: $fw-2;
            }
    
            p:nth-child(3){
                margin: 15px 0;
                padding: 0 21px;
            }
        }
    }
   
}